.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  background: darken(grey, 10);
  box-shadow: 0 -3px 4px rgba(black, 0.23);
  transition: transform 0.35s ease-in-out;
  transform: translateY(150px);
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  color: $gray;
  box-sizing: border-box;
  font-family: Lato, sans-serif;

  &:hover,
  &:focus {
    transform: translate(0);
  }

  .footer-column {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0 10px;
  }

  .footer-text {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
  }

  .footer-heading {
    font-size: 18px;
    text-align: center;
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    box-sizing: border-box;
    flex: 1 1 auto;
  }

  .footer-copyright {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 18px;
  }

  .footer-contributors {
    height: 100%;
    justify-content: flex-start;
    box-sizing: border-box;
    list-style: none;
    font-size: 16px;
    width: 100%;
    margin: 0;
    text-align: center;
    padding-left: 0;
  }

  .footer-contributor {
    padding: 6px 0;
    font-size: 18px;
  }
}
