/* colors */
$blue: #00f;
$white: #fff;
$gray: #ccc;

/* button variables */
$button-color: #fff;
$button-background-color: #ccc;
$button-border-color: #ccc;
$button-min-width: 250px;
$button-min-heigth: 30px;

/* popup variables */
$popup-shadow: rgba(0, 0, 0, 0.5);
$popup-background-color: #ccc;

$min-desktop-width: 1100px;
